stages:
  - lint
  - test
  - build
  - publish

variables:
  GRADLE_OPTS: "-Dorg.gradle.daemon=false"
  GRADLE_USER_HOME: "$CI_PROJECT_DIR/.gradle"

image: gradle:8-jdk17

cache:
  key: "$CI_COMMIT_REF_SLUG"
  paths:
    - .gradle/
    - build/

before_script:
  - export GRADLE_USER_HOME=`pwd`/.gradle

lint:
  stage: lint
  script:
    - ./gradlew check
  only:
    - branches
    - merge_requests

test:
  stage: test
  script:
    - ./gradlew test
  artifacts:
    when: always
    reports:
      junit:
        - build/test-results/test/TEST-*.xml
    paths:
      - build/reports/tests/test/
    expire_in: 1 week
  only:
    - branches
    - merge_requests

build:
  stage: build
  script:
    - ./gradlew shadowJar
  artifacts:
    paths:
      - build/libs/*.jar
    expire_in: 1 week
  only:
    - branches
    - merge_requests
    - tags

publish:
  stage: publish
  script:
    - echo "$GPG_PRIVATE_KEY" | gpg --batch --import
    - ./gradlew publish
      -Psigning.gnupg.keyName=$GPG_KEY_ID
      -Psigning.gnupg.passphrase=""
      -PossrhUsername=$MAVEN_USERNAME
      -PossrhPassword=$MAVEN_PASSWORD
  rules:
    - if: '$CI_COMMIT_TAG =~ /^v\d+\.\d+\.\d+$/'
